textarea {
    min-height: 400px;
}

#emails-view > div.padded{
    position: relative;
    padding-bottom: 50px!important;
    z-index: 2;
}
#emails-view > btn{
   z-index: 3;
    margin-top: -80px;
    position: relative;
}