body {
    padding: 10px;
    padding-bottom: 100px;
}
.card{
    height: 470px;
    cursor: pointer;
}
a, a:hover{
    color: #0f799a;
    text-decoration: none;
}
a:hover{
    opacity: .8;
}
.card span{
    font-size: small;
}
a.card h4, a.card span, a.card p{
    color: #343a40;
}
#mld img{
    max-width: 25%;
    float: left;
    height: auto;
    margin: 0 2rem 2rem 0;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

#mainlisting > .row {
    display: block;
    min-height: 5px;

}
.clear{
    clear: both;
}
ul.errorlist{
    list-style: none;
    padding: 0;
}
ul.errorlist li{
    color: red;
}
ul.errorlist li:before{
    content:"*";
}

