body{
    color: #343a40;
}
a, .viewclick{
    color: #495057;
    text-decoration: none;
    opacity: .95;
    
}
.viewclick:hover, a:hover{
    cursor: pointer;
}
h4 a{
    color: #343a40;
    opacity: 1;
    
}
.answeritem{
    margin-bottom: 2px;
}
.answeritem:hover{
    cursor: pointer;
    background-color: #e9ecef;
}
.selected{
    background-color: #dee2e6;
}
.answeritem.draggable:hover{
    cursor: move;
}
.modal{
    background-color: #21252970;
}
.block{
    display: block!important;
}
.modal-footer{
    justify-content: center;
}
.incorrect h5{
    color: #dc3545;
}
.correct h5{
    color: #198754;
}
.incorrect .selected, .incorrect .draggable, .incorrect input{
    border-color: #dc354550!important;
}
.correct .selected, .correct .draggable, .correct input{
    border-color: #19875450!important;
}
.bi-grip-vertical{
    opacity: .5;
}
#questions_container input{
    width: 100%
}
h5{
    font-size:1.1rem!important;
}
#questions_container .answeritem, #questions_container input{
    font-size: .95rem;
} 
small{
    font-size: .75rem;
}
.wrapper-private label{
    margin-right: 5px;
}
.form-group label{
    margin-bottom: 10px;
}