body{
    color: #343a40;
}
a, .viewclick{
    color: #495057;
    text-decoration: none;
    opacity: .95;
    
}
.viewclick:hover, a:hover{
    cursor: pointer;
}
h4 a{
    color: #343a40;
    opacity: 1;
    
}
.answeritem{
    margin-bottom: 2px;
}
.answeritem:hover{
    cursor: pointer;
    background-color: #e9ecef;
}
.selected{
    background-color: #dee2e6;
}
.answeritem.draggable:hover{
    cursor: move;
}
.modal{
    background-color: #21252970;
}
.block{
    display: block!important;
}
.modal-footer{
    justify-content: center;
}
.incorrect h5{
    color: #dc3545;
}
.correct h5{
    color: #198754;
}
.incorrect .selected, .incorrect .draggable, .incorrect input{
    border-color: #dc354550!important;
}
.correct .selected, .correct .draggable, .correct input{
    border-color: #19875450!important;
}
.bi-grip-vertical{
    opacity: .5;
}
#questions_container input{
    width: 100%
}
h5{
    font-size:1.1rem!important;
}
#questions_container .answeritem, #questions_container input{
    font-size: .95rem;
} 
small{
    font-size: .75rem;
}
.wrapper-private label{
    margin-right: 5px;
}
.form-group label{
    margin-bottom: 10px;
}
#myanswers > div, #addlinks, .formbox{
    border: 1px solid #ced4da;
    padding: 0.75rem 1rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    position: relative;

}
 #addlinks{
    padding-bottom: .75rem;
    margin-bottom: 1rem;
    position: relative;
}
#myanswers h5{
    margin-bottom: 0;
}

small{
    opacity: .65
}
.subdetails
{
    display: block;
    margin-bottom: .2rem;
}
.txtanscontainer{
    position: relative;
}
.xer{
    position: absolute;
    right: -5px;
    top: -5px;
    display: block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 10px;
    border-radius: 3px  ;
}
.mcanscontainer{
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    position: relative;
    border:1px solid #ced4da;
}
.mcanscontainer label{
    font-size: small;
    margin-bottom: 0;
    
}
.txtanscontainer > span:hover{
    cursor: pointer;
}
btn.addmore{
    font-size: .7rem;
    padding: 0.2rem 0.3rem;
    border: 1px solid #ced4da;
}
.multiradio{
    height: 10px;
}
.btn-white {
    background-color: #ffff;
    border: 0px;
}
.btn-white:hover{
    background-color: #ffffff;
    border: 1px solid #ced4da;
    opacity: .8;
}
.oaanscontainer{
    position: relative;
}
.oaol{
    padding-left: 1rem;
}