{% extends "auctions/layout.html" %}

{% block body %}
    
    <div class="container ">
    <h2 class="mb-4">Active Listings</h2>
    <div class="row row-cols-2 row-cols-lg-4">
    {% for item in items%}
        <div class="col p-2">
            <a id="card-{{item.id}}" class="card p-0 " href="listing/{{ item.id }}" >
                <img src="{% if item.image %}{{item.image}}{% else %}https://dummyimage.com/400x400/fffcff/000&text=AUCTION!{% endif %}" class="card-img-top" />
                <div class="card-body">
                    <h4 class="card-title">{{item.title}}</h2>
                    <p class="card-text">{{item.description | slice:":50"}}...</p>
                    <span>Posted by: {{item.user_id}}</span>
                    
                </div>
                
            
            </a>
    
        </div>
    {%endfor%}
   
    </div>
</div>
{% endblock %}